.header-contain{
    position: fixed;
    z-index: 1;
    background-color: #0a426e;
    width: 100%;
}
.container{
    position: relative;
    top: 51px;
}
.header__left--hover:hover {
    color: #fff;
}
.header-right--hover:hover {
    cursor: pointer;
    color: #fff;
}
.header-right__notify {
    display: flex;
}
.header-right__notify-list {
    position: relative;
}
.header-right__list-item {
    width: 380px;
    height: 512px;
    background-color: #fff;
    top: 180%;
    right: -10px;
    display: block;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 2;
    display: none;
}
.js-notify {
    display: block;
}

.notify-list__header {
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
}
.notify-list__header::before {
    content: '';
    border: 10px solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -18px;
    right: 5px;
    z-index: 1;
}
.notify-list__header-left {
    color: #353e4e;
    font-weight: 600;
    font-size: 0.9rem;
}
.notify-list__header-right {
    color: #0a426e;
}
.notify-list__header-right .fa-check:hover {
    cursor: pointer;
}
.notify-list__header-right .fa-gear:hover {
    cursor: pointer;
}

.content-item__body {
    display: flex;
}
.notify-list__content-item {
    padding: 5px;
    border-top: 1px solid rgba(240, 232, 232, 0.678);
    border-bottom: 1px solid rgba(240, 232, 232, 0.678);
}
.notify-list__content-item:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}
.content-item__body {
    font-size: 0.7rem;
    color: #767a84;
    position: relative;
}
.item__body-img {
    margin-right: 5px;
    position: absolute;
    left: -10px;
}
.img-item_msg {
    margin-left: 20px;
    line-height: 100%;
}
.item__body-img .fa-lightbulb {
    font-size: 1rem;
}
.content-item__footer {
    display: flex;
    padding: 6px 5px 3px 20px;
    justify-content: space-between;
    align-content: center;
}

.content-box {
    width: 100%;
    height: 400px;
}

.content-item__footer .timestamp {
    font-size: 0.6rem;
    color: #6f6f6f;
}
.content-item__footer-view {
    font-size: 0.7rem;
    color: #0a426e;
    text-decoration: none;
}
.content-item__footer-view:hover {
    text-decoration: underline;
}
.footer-right__list-item {
    height: 33px;
    width: 100%;
    border-top: 1px solid rgba(240, 232, 232, 0.678);
    color: #0a426e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-see {
    font-size: 0.8rem;
    cursor: pointer;
}
.footer-see:hover {
    text-decoration: underline;
}
.header-right__user {
    position: relative;
}
.header-right__user-control {
    width: 160px;
    height: 248px;
    background-color: #fff;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    color: #6d727c;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 105%;
    z-index: 1;
    right: 0;
    display: none;
}
.js-list-control {
    display: flex;
}
.user-control__list {
    padding: 6px 20px;
}
.user-control__list--first {
    border-bottom: 1px solid rgb(233, 228, 228);
}
.user-control__list--last {
    border-top: 1px solid rgb(233, 228, 228);
}
.user-control__list:hover {
    background-color: #f5f5f5;
}
.container {
    display: flex;
}
.content-left {
    color: #0a426e;
    width: 440px;
    width: 0;
    overflow: hidden;
    transition: all linear 0.2s;
}
.content-left__item {
    padding: 12px;
    font-size: 14px;
    line-height: 1.5;
}
.header-right_message-item{
    
    background-color: #eff1f3;
    width:320px ;
    height: 100%;
    position: fixed;
    top: 51px;
    right:0;
    z-index: 1;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    display: none;
}
.js-right_message-item{
    display: block;
}
.message-item__exit{
    display: flex;
    justify-content: flex-end;
    color: #343a40;
    padding: 3px 8px 0 0;

}
.input-list{
    display: flex;
    align-items: center;
}
.input-list .search{
    background-color: #343a40;
    display: flex;
    padding: 2px;
    height: 40px;
    width: 30px;
    align-items: center;
    position: relative;
}
.search .fa-magnifying-glass{
    position: absolute;
    right: 5px;
}
.input-list .fa-gear{
    color:#6d727c;
}

.message-item__border{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
   justify-items: center;
   padding: 4px 8px;
}
.form-control{
    box-shadow: none;
    padding: 9px 15px;
    border-color: #e2e2e2;
    font-size: 16px;
    border-radius: 2px;
    width: 248px;
    outline: none;

}
.border-contact{
    display: flex;
    justify-content: flex-end ;
    margin-top: 16px;
    width: 100%;
    padding:5px;
    color: #6d727c;
    font-size: 0.9rem;
}
.items-list{
    width:100%;
    padding:8px;
    margin: 1px;
    border-top: 2px solid #d6d9df;
    color: #6d727c;
    font-weight: 700;
}
.message-item__border{
    height: 504px;
    width: 100%;
}
.message-see{   
    display: flex;
    width: 100%;
    justify-content: center;
    color: #6d727c;
    font-size: 0.9rem;
}
.messge--hover{
    cursor: pointer;
}
.border-contact:hover{
    color: #083457;
    text-decoration: underline;
}
.items-list:hover{
    background-color: #ecf0f6;
    color: #083457;
}
.message-see:hover{
    color: #083457;
    text-decoration: underline;
}

/* footer */
.footer{
    width: 100%;
    height: 233px;
    position: relative;
    top:51px;
 
}
.footer-inner{
    width: 100%;
    height: 82%;
    background-color: rgb(53 62 78);

}
.footer-container{
    padding: 30px 0px;
}
.footer-bar{
    width: 100%;
    height: 18%;
    background-color: rgb(32 38 48);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-icon{
    width: 100%;
   display: flex;
   justify-content: center;

}

.container-icon-padding{
    padding:10px;
    background-color: rgb(37 43 54);
    margin: 5px;
    border-radius: 50%;
    color:#a8aaaf;
    
}
.footer-comment{
    width: 100%;
    display: flex;
    padding:20px;
    justify-content: center;
    color:rgb(37 43 54);
}
.footer-comment .comment{
    margin-right: 5px;
}
.footer-comment a{
    color: #c3c5ca;
   
}

.footer-inner .footer-note{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.footer-note .note{
    color:#c3c5ca ; 
}

.bar-note{
    color: rgba(255,255,255,.4);
}
.footer-hover:hover{
    cursor: pointer;
    color: #fff;
}