/* ! Heder */

.header {
    background-color: #0a426e;
}

.header-contain {
    padding: 8px 15px;
    display: flex;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left__more span {
    display: block;
    width: 24px;
    height: 2px;
    background-color: rgb(201, 201, 201);
}

.header-left__more span:not(:first-child) {
    margin-top: 6px;
}

.header-left__nav {
    background: rgba(0, 0, 0, 0.4);
    color: rgb(201, 201, 201);
    display: flex;
    align-items: center;
    vertical-align: middle;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
    margin-left: 16px;
    cursor: pointer;
}

.header-left__nav span {
    font-weight: 700;
    padding: 0 6px;
}

.header-left__nav i {
    font-size: 12px;
}

.header-left__link {
    display: flex;
    margin-left: 16px;
}

.header-left__link div {
    height: 30px;
    width: 30px;
    display: flex;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: rgb(201, 201, 201);
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right__notify {
    font-size: 16px;
    color: rgb(201, 201, 201);
}

.header-right__notify i {
    margin-left: 12px;
}

.header-right__user {
    display: flex;
    font-size: 14px;
    color: #fff;
    align-items: center;
    margin-left: 12px;
    font-weight: 500;
}

.header-right__user-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 6px;
}

.header-right__user i {
    margin: 0 3.5px;
    font-size: 12px;
}

/* ! banner */
.banner-container {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-container a img {
    width: 200px;
    height: 60px;
}

.banner-container ul {
    list-style-type: none;
    display: flex;
    margin-right: 95px;
    font-weight: 700;
    color: #6d727c;
}

.banner-container ul li {
    margin-left: 20px;
}

/* ! Content */
.content {
    padding: 0 15px;
    background-color: #f7f7f7;
    position: relative;
    padding-bottom: 40px;
}

.content__page-custom-btn {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

.content__page-custom-btn button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #fff;
    border: 2px solid #6d727c;
    color: #555961;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
}

.content__main-recent {
    padding: 16px;
    background-color: #fff;
    margin-bottom: 30px;
    box-shadow: 2px 2px 5px #ccc;
}

.content__main-recent .pagination {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.content__main-recent .btn {
    display: flex;
}

.content__main-recent .btn .btn-prev,
.btn-next {
    padding: 8px 16px;
    border: 1px solid #dee2e6;
}

.content__main-recent .btn .btn-prev i,
.btn-next i {
    font-size: 20px;
    font-weight: 900;
}

.content__main-recent .btn .btn-prev.disabled,
.btn-next.disabled {
    color: #ccc;
}

.content__main-recent .item {
    box-shadow: 2px 2px 5px #ccc;
    padding-bottom: 20px;
}

.content__main-recent .item .item-body {
    padding: 10px;
}

.content__main-recent .item img {
    width: 100%;
    height: 114px;
}

.content__main-recent .item h3 {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 4px;
}

.content-overview {
    padding: 16px;
    background-color: #fff;
    box-shadow: 2px 2px 5px #ccc;
}

.content-overview .buttons {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

.content-overview .buttons .button2 {
    display: flex;
}

.content-overview .buttons .button2 .btn2 {
    margin-left: 6px;
}

.content-overview .buttons .btn {
    padding: 10px 20px;
    border: 1px solid #494d53;
    font-size: 16px;
    color: #494d53;
}

.content-overview .item {
    box-shadow: 2px 2px 5px #ccc;
    margin-top: 16px;
}

.content-overview .item-body {
    height: 170px;
    padding: 10px;
}

.content-overview .item img {
    width: 100%;
    height: 114px;
}

.content-overview .item h3 {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 4px;
}

.content-overview .open {
    display: flex;
    margin-top: 14px;
    align-items: center;
}

.content-overview .open span {
    margin-right: 8px;
}

.content-overview .open div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    border: 1px solid #494d53;
}

.content-overview .open div i {
    margin-left: 4px;
}

.content__side .block-1 {
    background-color: #fff;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    padding: 16px;
}

.content__side .block-1 h3 {
    font-size: 16px;
    color: #353e4e;
}

.content__side .block-1 .time-sort {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-bottom: 1px solid #6d727c;
    padding-bottom: 20px;
}

.content__side .block-1 .time-sort div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    border: 1px solid #6d727c;
}

.content__side .block-1 .time-sort div i:first-child {
    margin-right: 6px;
}

.content__side .block-1 .date {
    margin-top: 20px;
}

.content__side .block-1 .exam {
    margin-top: 6px;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #6d727c;
}

.content__side .block-1 .exam img {
    width: 24px;
    height: 24px;
}

.content__side .block-1 .exam .info {
    margin-left: 10px;
    flex-grow: 1;
    position: relative;
}

.content__side .block-1 .exam .info span {
    font-size: 11px;
}

.content__side .block-1 .exam .info .time {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 10px;
}

.content__side .block-1 .exam .info .add {
    margin-top: 14px;
    padding-bottom: 20px;
}

.content__side .block-1 .more {
    display: flex;
    margin-top: 4px;
    align-items: center;
}

.content__side .block-1 .more div {
    padding: 10px 20px;
    border: 1px solid #6d727c;
    margin-left: 6px;
}

.content__side .block-2 {
    background-color: #fff;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    padding: 16px;
    margin-top: 8px;
}

.content__side .block-2 span {
    display: block;
}

.content__side .block-3 {
    background-color: #fff;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    padding: 16px;
    margin-top: 8px;
}

.content__side .block-3 h2 {
    margin-bottom: 20px;
}

.content__side .block-3 li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6px;
}

.content__side .block-3 li div {
    display: flex;
    align-items: center;
}

.content__side .block-3 li img {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.content__side .block-3 li span {
    font-size: 14px;
    margin-left: 4px;
}

.content__side .block-3 .other {
    margin-left: 24px;
    margin-top: 6px;
    display: block;
}

.content__side .block-4 {
    background-color: #fff;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    padding: 16px;
    margin-top: 8px;
}

.content__side .block-4 h2 {
    margin-bottom: 30px;
}

.content__side .block-5 {
    background-color: #fff;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    padding: 16px;
    margin-top: 8px;
}

.content__side .block-5 .item {
    display: flex;
    margin-top: 20px;
    align-items: flex-start;
    padding-bottom: 20px;
    border-bottom: 1px solid #6d727c;
}

.content__side .block-5 .item img {
    width: 24px;
    height: 24px;
}

.content__side .block-5 .item .info {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
}

.content__side .block-5 .goto {
    margin-top: 20px;
    display: block;
}
